{% extends 'base.html' %}
{% block title %}About Opti-Run{% endblock %}

{% block content %}


    <div class = "container">
        <br>
        <h1>About</h1>
        <br/>
        <br/>
        <h2>Purpose</h2>
        <p1>The goal of OptiRun is to make outdoor exercise more acessible to the world. This is also an exercise in linear programming and a undergraduate project requirement for Cal Poly State University - San Luis Obispo.</p1>
        <br/>
        <br/>
        <br/>
        <h2>Contact</h2>
        <p1>If you have any feedback or questions, please direct it towards ylevanon@calpoly.edu.</p1>
    </div>


{% endblock %}
