<!-- figure out how to link the textbox content to a variable AND in this line below this comment figure out how to pack it into the request body-->
<form action="/preference" method="POST">
    <!-- Location textbox input  -->
    <div class="mb-3">
        <label for="Location1" class="form-label">Type your starting location address.</label>
        <input type="text" class="form-control" id="Location1" aria-describedby="Location1"
            placeholder="Type your starting location" name="address">
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
</form>