<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_df50430438ed4da18dcb668e9c574c1f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_df50430438ed4da18dcb668e9c574c1f" ></div>
        
</body>
<script>    
    
            var map_df50430438ed4da18dcb668e9c574c1f = L.map(
                "map_df50430438ed4da18dcb668e9c574c1f",
                {
                    center: [35.28053391188845, -120.66373491879064],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2e1aa854756744a1874c9dd726acd08a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_df50430438ed4da18dcb668e9c574c1f);
        
    
            var marker_bd07c42b94764ceea48a3681070f3465 = L.marker(
                [35.29053391188845, -120.67373491879064],
                {}
            ).addTo(map_df50430438ed4da18dcb668e9c574c1f);
        
    
            var icon_9dbfefe9ef7c456cb47a64fb2e71e613 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_bd07c42b94764ceea48a3681070f3465.setIcon(icon_9dbfefe9ef7c456cb47a64fb2e71e613);
        
    
        var popup_6ff2e2130f56496892bbf49250663c08 = L.popup({"maxWidth": "100%"});

        
            var html_1281e00ed35a45c7b3e325c76fedf34e = $(`<div id="html_1281e00ed35a45c7b3e325c76fedf34e" style="width: 100.0%; height: 100.0%;">Click anywhere for coordinates, then copy them. After, return back to home screen.</div>`)[0];
            popup_6ff2e2130f56496892bbf49250663c08.setContent(html_1281e00ed35a45c7b3e325c76fedf34e);
        

        marker_bd07c42b94764ceea48a3681070f3465.bindPopup(popup_6ff2e2130f56496892bbf49250663c08)
        ;

        
    
    
            marker_bd07c42b94764ceea48a3681070f3465.bindTooltip(
                `<div>
                     Click Here for Help
                 </div>`,
                {"sticky": true}
            );
        
    
                var lat_lng_popup_692490bced3d4907a4d18efb9793c681 = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_692490bced3d4907a4d18efb9793c681
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(6) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(6))
                        .openOn(map_df50430438ed4da18dcb668e9c574c1f);
                    }
                map_df50430438ed4da18dcb668e9c574c1f.on('click', latLngPop);



</script>
<script>
    Let spinnerWrapper document.querySelector('.spinner-wrapper');
    window.addEventListener('load', function (){
        spinnerWrapper.style.display = 'none';
    });
</script>