{% extends 'base.html' %}
{% block title %}Opti-Run{% endblock %}

{% block content %}


    <div class = "container">
        <br/>
        <h1>Welcome to Opti-Run!</h1>
        <p1>This is an optimization model that will choose the best
    running route based on YOUR preferences. Enjoy!</p1>
        <!-- button -->
        <br></br>
        <p align="center"><a href="preference" ><button class="button1" style="height:100px;width:150px">Choose Starting Location</button></a></p>
    
    </div>

{% endblock %}