{% extends 'base.html' %}
{% block title %}Preferences for Route{% endblock %}

{% block content %}
    <div class = "container">
        <br/>
        <h1>Input your user preferences!</h1>
        <h2><FONT COLOR=red>{{error_statement}}</FONT></h2>
        <br></br>
        <form action="/route" method="POST">
         <!-- Location Label  -->
         <div class="mb-3">
            <label for="address" class="form-label" name="address"> Your location: {{address}}</label>
            <input type="hidden" class="form-control" id="address" aria-describedby="emailHelp" value="{{address}}"  name="address">
          </div>
        <!-- Latitude -->
        <div class="mb-3">
            <input type="hidden" class="form-control" id="latitude" aria-describedby="emailHelp" value={{latitude}}  name="latitude">
            </div>
        <!-- Longitude -->
        <div class="mb-3">
            <input type="hidden" class="form-control" id="longitude" aria-describedby="emailHelp" value = {{longitude}} name="longitude">
            </div>
            <!-- Distance textbox input  -->
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Please type in miles the distance you would like to run. Please give the solver a minute to generate your adventure.</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="distance (miles)" name="distance">
              </div>
            <!-- Checkbox for minimize street crossings  -->
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" name="street_crossing">
              <label class="form-check-label" for="exampleCheck1">Minimize Street Crossings?</label>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
      </br>
    </div>
    
{% include 'gmap.html' %}

{% endblock %}