{% extends 'base.html' %}
{% block title %}Preferences for Route{% endblock %}

{% block content %}
    <div class = "container">
        <br/>
        <h1>Input your user preferences!</h1>
        <p1>This is an optimization model that will choose the best
    running route based on YOUR preferences. Enjoy!</p1>
        <br></br>
        <form action="/route" method="POST">
            <!-- Coordinates textbox input  -->
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Enter Latitude Here</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="latitude" name="latitude">
              <!-- user help text here -->
              <div id="emailHelp" name="street_crossings" class="form-text">In this format: (latitude, longitude)</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Enter Longitude Here</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="longitude" name="longitude">
              <!-- user help text here -->
              <div id="emailHelp" name="street_crossings" class="form-text">In this format: (latitude, longitude)</div>
            </div>
            <!-- Distance textbox input  -->
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Running Route Distance (meters)</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="distance (meters)" name="distance">
              </div>
            <!-- Checkbox for minimize street crossings  -->
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" name="street_crossing">
              <label class="form-check-label" for="exampleCheck1">Minimize Street Crossings?</label>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>

    </div>
    </br>
{% include 'gmap.html' %}

{% endblock %}