{% extends 'base.html' %}
{% block title %}Generated Route{% endblock %}

{% block content %}


    <div class = "container">
        <br/>
        <h1>Running Route Generated</h1>
        </br> 
        <h3>Thank you for your patience. Have a fun and safe adventure! if you have feedback, please reach out to ylevanon@calpoly.edu.</h3>
        <br></br> 
        <h3><FONT COLOR=blue>Running for {{distance}} miles.</FONT></h3>
    </div>
    <br/>
    <br/>
    {% include 'run.html' %}


{% endblock %}