<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d282827508982bde7a3d4adb351cea84 {
                    position: relative;
                    width: 100.0%;
                    height: 55.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_d282827508982bde7a3d4adb351cea84" ></div>
        
</body>
<script>    
    
            var map_d282827508982bde7a3d4adb351cea84 = L.map(
                "map_d282827508982bde7a3d4adb351cea84",
                {
                    center: [47.69621, -122.12825],
                    crs: L.CRS.EPSG3857,
                    zoom: 100,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_92606092f2f65855b292c237f342bb2c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var marker_e6e7d6ec4a56741e74c1c2980d5d5e89 = L.marker(
                [47.69621, -122.12825],
                {}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
        var popup_30b08ee650bfe2b4ecf594af2ab117af = L.popup({"maxWidth": 200});

        
            var i_frame_06aa410b3815cf9a2ea5e80e2b50e01e = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAxMDcxNyAxNTl0aCBDdCBOZSBSZWRtb25kIFdh" width="100" style="border:none !important;" height="50"></iframe>`)[0];
            popup_30b08ee650bfe2b4ecf594af2ab117af.setContent(i_frame_06aa410b3815cf9a2ea5e80e2b50e01e);
        

        marker_e6e7d6ec4a56741e74c1c2980d5d5e89.bindPopup(popup_30b08ee650bfe2b4ecf594af2ab117af)
        ;

        
    
    
            var poly_line_d4176312c71ee5735e2098f3b1f0f0a8 = L.polyline(
                [[47.695058, -122.1266324], [47.6950891, -122.1253678]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_68dfb04a407c3ee966467bd77d644b55 = L.polyline(
                [[47.6950891, -122.1253678], [47.6951069, -122.1246284], [47.6951318, -122.1244447]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_3b63fba4ce5d3c6cf6dff46cdee0ec12 = L.polyline(
                [[47.6951318, -122.1244447], [47.6952109, -122.1243521], [47.6953599, -122.1243239], [47.6955568, -122.1243331], [47.6959146, -122.1243354]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_cd1bbee69dd12aeab2d0e5ea7b9b5b67 = L.polyline(
                [[47.6959146, -122.1243354], [47.6960406, -122.1243656], [47.6961793, -122.1244404], [47.6964746, -122.1246111]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_68416cebb1c2846a9ae291bd71e0962e = L.polyline(
                [[47.6964746, -122.1246111], [47.6965415, -122.1244063], [47.6966013, -122.1241774], [47.6966134, -122.1239813], [47.6965978, -122.1234928]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_2cfa3430da5a4b1106da90e49a9ec214 = L.polyline(
                [[47.6965978, -122.1234928], [47.6966304, -122.1234832], [47.6966591, -122.1234584], [47.6966808, -122.1234211], [47.6966931, -122.1233753], [47.6966948, -122.1233261], [47.6966856, -122.1232787], [47.6966665, -122.1232384], [47.6966396, -122.1232095]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_8608018283d923638e248c60e674f1b9 = L.polyline(
                [[47.6966396, -122.1232095], [47.6966485, -122.1231396], [47.6966696, -122.1229816], [47.6966918, -122.1228206], [47.6966943, -122.1227114], [47.6966429, -122.1223748]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_2f432bcb8a07b737ecbc69ae9c8be628 = L.polyline(
                [[47.6966429, -122.1223748], [47.6965177, -122.12228]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_8bfb3c7f817dbb5c3b4039e23f64695c = L.polyline(
                [[47.6965177, -122.12228], [47.695774, -122.122324]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_44f0530a42a0b005820b37637af295ad = L.polyline(
                [[47.695774, -122.122324], [47.6957576, -122.1221932], [47.6957413, -122.1221487], [47.6956574, -122.1220146], [47.6955986, -122.1218657], [47.6955662, -122.1217276], [47.695559, -122.1215733], [47.6955575, -122.1214341], [47.6955562, -122.1213051], [47.6955569, -122.1210715]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_dc309a848fde09e0c7fe2b4c73cc8245 = L.polyline(
                [[47.6955569, -122.1210715], [47.6960853, -122.1210546], [47.6961248, -122.1210488], [47.6961704, -122.121033], [47.6961757, -122.1208824], [47.6961716, -122.1197446], [47.6961562, -122.1196816], [47.6961311, -122.1196087], [47.6961033, -122.1195843], [47.6960629, -122.1195612], [47.6957535, -122.1195553]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_d731cfb8e20727cd01220620dab2ea55 = L.polyline(
                [[47.6957535, -122.1195553], [47.6957655, -122.1188517]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_6d454f50df1fc794c72a9bfd116b1db1 = L.polyline(
                [[47.6957655, -122.1188517], [47.6957593, -122.1181214]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_b2bd2b36e20736eab8b7d233d878fe43 = L.polyline(
                [[47.6957593, -122.1181214], [47.6950881, -122.1180116], [47.6950722, -122.116766], [47.6950637, -122.1154807], [47.6950912, -122.114856], [47.6951494, -122.1145501], [47.6952247, -122.1144015]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_d1cf023b6a3d5f4248c1441dc40d82cd = L.polyline(
                [[47.6952247, -122.1144015], [47.6951536, -122.1142091], [47.6950971, -122.1140463], [47.6950684, -122.1138773], [47.6950573, -122.1135466]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_cad134be97fbfa4690aa2715d4e69230 = L.polyline(
                [[47.6950573, -122.1135466], [47.6950636, -122.1119121], [47.6950353, -122.1115443]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_832be4ee89a67912b9227b14696fade1 = L.polyline(
                [[47.6950353, -122.1115443], [47.695022, -122.1111257]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_b96f411dc281a6fed074d6be2f8992ba = L.polyline(
                [[47.695022, -122.1111257], [47.6950838, -122.1111259], [47.6950818, -122.1109297], [47.6951891, -122.1109235], [47.6952015, -122.1108332], [47.6952448, -122.1107983]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_5aa98ad900c5b782e58264162b235eb4 = L.polyline(
                [[47.6952448, -122.1107983], [47.6930262, -122.1107974], [47.6929643, -122.1107967]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_462aaf0e774543a5e6fd47edb011c054 = L.polyline(
                [[47.6929643, -122.1107967], [47.6929647, -122.1110132], [47.6929741, -122.1110423], [47.6929708, -122.1114496], [47.6929719, -122.1114722], [47.6929778, -122.111485]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_7ee7ce81d9283b314f82dccf3bc1c395 = L.polyline(
                [[47.6929778, -122.111485], [47.6929704, -122.1115027], [47.6929717, -122.1115882]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_d2d194eedf923831bc3e5d5900d851cc = L.polyline(
                [[47.6929717, -122.1115882], [47.6929156, -122.1115881]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_22c92cbdf84fddeb8b6865e8ab47742d = L.polyline(
                [[47.6929156, -122.1115881], [47.6928857, -122.1108643]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_c74efa97fad701f8d13fb7f9a2e4ba04 = L.polyline(
                [[47.6928857, -122.1108643], [47.6928209, -122.1108639]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_c290cc07da7d001a44d4631e1a5ba321 = L.polyline(
                [[47.6928209, -122.1108639], [47.692819, -122.1109733], [47.6928108, -122.1109818]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_159f6263bace37347b33a06d478c71d5 = L.polyline(
                [[47.6928108, -122.1109818], [47.6927995, -122.110957], [47.6927826, -122.1109401], [47.692295, -122.1109358], [47.6916248, -122.1109336], [47.691303, -122.1109354]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_713154362d6bb9dd333601a2037dbb02 = L.polyline(
                [[47.691303, -122.1109354], [47.6913165, -122.1109806], [47.6912607, -122.1111084], [47.6912907, -122.1112125], [47.6912859, -122.1112438], [47.6913156, -122.1113049], [47.6913104, -122.1113653], [47.6912867, -122.1113694], [47.6912547, -122.1113915], [47.6912466, -122.1114106], [47.6912403, -122.111425], [47.6912072, -122.1114795], [47.6911706, -122.1115914], [47.6912159, -122.1116375], [47.6912529, -122.1116893], [47.6912318, -122.1117794], [47.6912006, -122.1118245], [47.691148, -122.11188], [47.6911394, -122.1119444], [47.6911021, -122.1120143], [47.6911005, -122.1122166], [47.6910851, -122.1122699]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_80d53561c6d2a8823a287402bc36c869 = L.polyline(
                [[47.6910851, -122.1122699], [47.6908305, -122.1125393]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_9df4cfb119a73c2efbcb921760c87be5 = L.polyline(
                [[47.6908305, -122.1125393], [47.6908515, -122.1125789], [47.6908647, -122.1126397], [47.690859, -122.1127096], [47.690831, -122.1127723], [47.6908145, -122.1127997], [47.6908008, -122.1128431], [47.6908057, -122.1132907], [47.6908024, -122.1134143], [47.6907889, -122.1134907], [47.6907711, -122.1135955], [47.6907445, -122.1136684], [47.6907266, -122.1137142], [47.6907249, -122.1137523]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_2aa00ebeafc5e07aea184644c97436b8 = L.polyline(
                [[47.6907249, -122.1137523], [47.6907296, -122.1137811], [47.6907548, -122.1138407], [47.6907893, -122.113892], [47.6908038, -122.1139816], [47.690816, -122.1143351], [47.690808, -122.1145087], [47.6907837, -122.1149198], [47.6907716, -122.1150774], [47.6907379, -122.1154538], [47.6907347, -122.1155358], [47.6907361, -122.1159531], [47.6907557, -122.1160545], [47.6907716, -122.116151], [47.6907753, -122.1162524], [47.6907735, -122.1163517], [47.6907356, -122.1165309], [47.6907118, -122.1166163], [47.6906912, -122.1166954], [47.690679, -122.1168093], [47.6906814, -122.1169079], [47.6907047, -122.1170059], [47.6907328, -122.117092], [47.6907688, -122.1171614], [47.6908015, -122.1172177], [47.6908347, -122.117267], [47.6908833, -122.1173211], [47.6909263, -122.1173559], [47.690966, -122.1173788], [47.6910137, -122.1173968], [47.6912301, -122.1174211], [47.6912633, -122.1174149], [47.6912848, -122.1173987]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_c93153dd5efa8fa17e9ff25c38f225d2 = L.polyline(
                [[47.6912848, -122.1173987], [47.691304, -122.1173593], [47.6913437, -122.11721], [47.6914246, -122.116985], [47.6914466, -122.1169184], [47.6914559, -122.1168489], [47.6914587, -122.115917], [47.6914657, -122.1158191], [47.6914718, -122.1157496], [47.6914648, -122.115692], [47.6914438, -122.1156531], [47.6914134, -122.1155927], [47.6913998, -122.1155114], [47.6914124, -122.1154385], [47.6914433, -122.1153844], [47.6914835, -122.1153434], [47.6915232, -122.1153365], [47.6915756, -122.1153608], [47.6916172, -122.1154066], [47.6916583, -122.1154233], [47.6916976, -122.1154198], [47.6917504, -122.1154031], [47.6918046, -122.1153962], [47.6921505, -122.1153941], [47.6922351, -122.1154156], [47.6922674, -122.1154205], [47.6922959, -122.1154128], [47.692351, -122.1153545], [47.6923814, -122.115333], [47.6924272, -122.1153246], [47.6924702, -122.1153427], [47.69251, -122.1153885], [47.6925315, -122.1154656], [47.6925338, -122.1155133]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_c8928661fb8910f6e6b9a402b1d951b7 = L.polyline(
                [[47.6925338, -122.1155133], [47.6925299, -122.1155564], [47.6925191, -122.1155936], [47.6924919, -122.1156393], [47.6924754, -122.1156837], [47.6924716, -122.1157434], [47.6924782, -122.1158316], [47.6924815, -122.1158851], [47.692488, -122.1172142], [47.6924805, -122.1172982], [47.6924684, -122.1173809], [47.6924688, -122.1174503], [47.6924875, -122.1174954], [47.6925142, -122.1175607], [47.6925189, -122.1176364], [47.6925076, -122.1177107], [47.6924777, -122.1177607], [47.6924417, -122.1177926], [47.6923894, -122.1177968], [47.6923398, -122.117767], [47.6922753, -122.1177058], [47.6922417, -122.117701], [47.6921543, -122.1177114], [47.6921084, -122.1177072], [47.6914812, -122.1176204], [47.6914405, -122.1176288], [47.6914223, -122.1176399], [47.6914151, -122.117651]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_e5527da5a09ee1ac8c9742a0ef2c3db8 = L.polyline(
                [[47.6914151, -122.117651], [47.69141, -122.1176408]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_e074244b61448ed607789e2322aba785 = L.polyline(
                [[47.69141, -122.1176408], [47.6913366, -122.1176357]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_efc886f243e59c3c3898e2113b742955 = L.polyline(
                [[47.6913366, -122.1176357], [47.6913427, -122.1175208]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_ae904bb2abdc95c64f18b4f5d4eb9078 = L.polyline(
                [[47.6913427, -122.1175208], [47.6912816, -122.1175097]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_6117199c5f442cb0d21de474fbb4f4f5 = L.polyline(
                [[47.6912816, -122.1175097], [47.6912682, -122.1176309]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_25e5d4cdd6396fd0e4879b1fd7fbedb5 = L.polyline(
                [[47.6912682, -122.1176309], [47.6912611, -122.1176372]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_65c48492c036b3f04ab6051387aead0e = L.polyline(
                [[47.6912611, -122.1176372], [47.6912732, -122.1177108], [47.6912597, -122.1179834], [47.6912476, -122.1180418], [47.6912273, -122.1180727], [47.6912123, -122.1180885]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_0fec83e6e0db7ea87eb04a6cee5e5208 = L.polyline(
                [[47.6912123, -122.1180885], [47.6911975, -122.1180978], [47.691173, -122.1181023], [47.689409, -122.1178457], [47.6893961, -122.1178393], [47.6893834, -122.1178202]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_fe828da6fe3c41b928324dd5c495ed06 = L.polyline(
                [[47.6893834, -122.1178202], [47.6893767, -122.1178282]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_9fe5096fac7bdcd3a89228e339731052 = L.polyline(
                [[47.6893767, -122.1178282], [47.6893745, -122.1179378]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_9a5dbabaa7026d67eb605f8fb7fa979e = L.polyline(
                [[47.6893745, -122.1179378], [47.6893093, -122.1179308]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_49667db7d365170385ae678f9eb5c09e = L.polyline(
                [[47.6893093, -122.1179308], [47.6888655, -122.1178668]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_61bc9b28d73be41b14f56ad5b8e70d30 = L.polyline(
                [[47.6888655, -122.1178668], [47.6888654, -122.1179727]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_0512593b6934d37d80e1897b0fdf6fa3 = L.polyline(
                [[47.6888654, -122.1179727], [47.6888808, -122.1210561]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_5dd1cb166e0a6b9ac42391211fd813fb = L.polyline(
                [[47.6888808, -122.1210561], [47.688882, -122.1211714]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_d29daf7425f090e26299cb9112e6b2e5 = L.polyline(
                [[47.688882, -122.1211714], [47.6889183, -122.1211674], [47.6889242, -122.1211672]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_07fd3c64b591298c5b2c1189a474c579 = L.polyline(
                [[47.6889242, -122.1211672], [47.6889262, -122.1216609], [47.6889411, -122.1217914], [47.6889401, -122.1221759], [47.6889507, -122.122209], [47.6889679, -122.1222338]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_d56dad1209343bd64d1872caa9bf5258 = L.polyline(
                [[47.6889679, -122.1222338], [47.6889865, -122.1222452], [47.6890168, -122.122254], [47.6892288, -122.1222552], [47.6892671, -122.1222341], [47.6894556, -122.1222289], [47.6895519, -122.1222162], [47.6896143, -122.1221983], [47.689661, -122.1221825], [47.6900444, -122.1220499], [47.6901103, -122.1220394], [47.6901613, -122.122032], [47.6904192, -122.1220331], [47.690626, -122.1220341], [47.6907167, -122.1220447], [47.6908131, -122.1220699], [47.6908889, -122.122091], [47.6909909, -122.1221225], [47.691071, -122.1221541], [47.6911163, -122.1221731], [47.6912439, -122.1222373], [47.6913409, -122.1222941], [47.6914182, -122.1223509], [47.691484, -122.1224118]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_3b1782b55e8adb702166694687dbf5bc = L.polyline(
                [[47.691484, -122.1224118], [47.6916824, -122.1225951], [47.6917504, -122.122672], [47.6919871, -122.1229362], [47.6920615, -122.1230225], [47.6921196, -122.1230814], [47.6921925, -122.1231404], [47.6922698, -122.1232077], [47.6923555, -122.1232477], [47.6924377, -122.123273], [47.6925248, -122.1232814], [47.6928, -122.1232807], [47.6928367, -122.1232688], [47.6928647, -122.1232369], [47.6928802, -122.1231959], [47.6928888, -122.1231391], [47.6928752, -122.1225252], [47.6928684, -122.1224684], [47.6928586, -122.1224409], [47.6928321, -122.1224198], [47.6927963, -122.1224125], [47.692536, -122.1224198], [47.6924743, -122.1224143], [47.6924287, -122.1223896], [47.692389, -122.1223613]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_7e7bb55dbe27d6d7a59f18e1be54dfed = L.polyline(
                [[47.692389, -122.1223613], [47.6924101, -122.1222027]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_4238723c608f49552711df8f786180af = L.polyline(
                [[47.6924101, -122.1222027], [47.6924945, -122.122322], [47.6925758, -122.1223499], [47.692923, -122.1223357]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_7a93a4e581e8ce26c649195eaf05bd8c = L.polyline(
                [[47.692923, -122.1223357], [47.6929309, -122.1233515]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_15b0c34f2d3d87596cf85553ff37261a = L.polyline(
                [[47.6929309, -122.1233515], [47.6929333, -122.1237523], [47.6929348, -122.1240116], [47.6929572, -122.1242892]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_9179f76589d6f76e470e73fb427b88b0 = L.polyline(
                [[47.6929572, -122.1242892], [47.6930426, -122.1247881], [47.693119, -122.1251287], [47.6931999, -122.1254093], [47.6932817, -122.1256041]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_a5da27e6c85fa31d16571971d916f7de = L.polyline(
                [[47.6932817, -122.1256041], [47.693381, -122.1257671], [47.6935113, -122.1259025], [47.6937516, -122.1260768]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_c06bd7a52b3bc6a3bebc2c07b81f318a = L.polyline(
                [[47.6937516, -122.1260768], [47.6940897, -122.1262667], [47.6944283, -122.1264471]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_ce9a923266cda655cc60caf29a3b4719 = L.polyline(
                [[47.6944283, -122.1264471], [47.6946068, -122.1265371], [47.6947987, -122.1265949], [47.695058, -122.1266324]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_0a69185556795614cf0d04ae91288206 = L.polyline(
                [[47.695058, -122.1266324], [47.6951514, -122.1266379], [47.6953519, -122.1266496], [47.6953995, -122.1266524], [47.6954566, -122.1266523]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_86d83718629d31f5b4ef32568b824381 = L.polyline(
                [[47.6954566, -122.1266523], [47.6955571, -122.1266522], [47.6955879, -122.1266522], [47.6957244, -122.126635]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            var poly_line_42b143ed8141217073b1e8894f2ed677 = L.polyline(
                [[47.6957244, -122.126635], [47.6957391, -122.1275787], [47.6957781, -122.1277302], [47.6958465, -122.127823], [47.6959982, -122.1279062], [47.6961644, -122.1279225], [47.6963939, -122.1278914], [47.6965946, -122.1278254], [47.6967728, -122.1277447]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_d282827508982bde7a3d4adb351cea84);
        
    
            map_d282827508982bde7a3d4adb351cea84.fitBounds(
                [[47.6888654, -122.1279225], [47.6967728, -122.1107967]],
                {}
            );
        
</script>